.footer {
  padding: 60px 0;
  background-color: #171717;
  color: #fff;

  &-container {
    display: flex;
    gap: 30px;


    .logo {
      display: flex;
      flex-direction: column;
      flex: 0 1 100%;
      gap: 30px;
    }

    .panel{
      display: flex;
      gap: 40px;

      .nav, .contact {
        display: flex;
        flex-direction: column;

        .caption {
          font-size: 24px;
          color: #525252;
          margin-bottom: 15px;
        }

        .links, .header__nav {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
      }
    }

  }
  
  @media (min-width: 701px) and (max-width: 1440px) {
    .footer-container{
      height: 200px;
    }
  }
  @media (max-width: 700px) {
    .footer-container{
      flex-direction: column;
    }
  }

  @media (max-width: 415px) {
    .panel{
      flex-direction: column;
    }
  }
}
