.item {
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    &__link {
        background: linear-gradient(45deg, #000000, #e1e1e1) no-repeat center bottom;
        background-size: 0% 2px;
        transition: 0.4s;
        &:hover {
            background-size: 100% 2px;
        }
    }
}
