.park {
    margin: 60px 0;

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 100%;
    }

    @media (max-width: 900px) {
        &__items {
            flex-direction: column;
        }
    }
}
