.park {
    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 24px 0;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(354px, 1fr));
        grid-template-rows: auto;
        gap: 20px;
    }

    @media (max-width: 900px) {
        &__items {
            grid-template-columns: 1fr;
        }
    }
}
