.requirement {
    &__card {
        flex: 1 1 auto;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 1rem;
        border: 1px solid rgba(240, 240, 240, 1);
        border-radius: 16px;
        box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.6);

        & > span {
            font-size: 1rem;
            font-weight: 700;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__docs {
        max-width: 350px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__doc {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        & > img {
            width: 2rem;
            height: 2rem;
        }

        & > span {
            font-size: 1.875rem;
        }
    }

    &__box {
        display: flex;
        gap: 1.5rem;

        & > div {
            display: flex;
            flex-direction: column;

            & > span:first-child {
                font-size: 1.875rem;
                line-height: 2.25rem;
                border-bottom: 1px solid rgba(240, 240, 240, 1);
            }

            & > span:last-child {
                font-size: 1rem;
                opacity: 0.6;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: normal;
        gap: 1rem;

        & > li {
            padding: 1rem;
            border: 1px solid rgba(240, 240, 240, 1);
            border-radius: 16px;
            box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.6);
            font-size: 1.5rem;
            &::first-letter {
                text-transform: uppercase;
            }
        }
    }
}
