$breakpoints: (
    "small": 576px,
    "medium": 768px,
    "large": 992px,
);

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;

    @each $breakpoint, $size in $breakpoints {
        @media (max-width: $size) {
            max-width: $size;
        }
    }
}
