$burger-color: #000;
$burger-color-open: #d0d0d0;
$media-sm: 768px;
$media-lg: 900px;

.navigation {
    display: flex;
    align-items: center;

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 50px;
        & > img {
            width: 1.5rem;
            height: 1.5rem;
        }

        &:hover img {
            animation: rotatePhone 0.5s ease-in-out infinite;
        }
    }

    &__burger {
        position: relative;
        display: none;
        width: 2rem;
        height: 2rem;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;
        border: none;
        background-color: transparent;
        z-index: 6;
        div {
            display: block;
            position: absolute;
            height: 0.2rem;
            width: 100%;
            background: $burger-color;
            border-radius: 0.1rem;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;

            &:nth-child(1) {
                top: 0.3rem;
            }

            &:nth-child(2) {
                top: 0.9rem;
            }

            &:nth-child(3) {
                top: 1.5rem;
            }
        }

        &.open {
            div {
                &:nth-child(1) {
                    top: 0.9rem;
                    transform: rotate(135deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                    left: -60px;
                }

                &:nth-child(3) {
                    top: 0.9rem;
                    transform: rotate(-135deg);
                }
            }
        }
    }

    &__menu {
        display: block;
        &.open {
            display: block;
        }
    }

    &__blur {
        display: none;
        &.open {
            display: block;
        }
    }

    &__list {
        gap: 30px;
        font-family: Inter, sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #000;
    }

    @media (max-width: $media-lg) {
        &__burger {
            display: flex;
        }

        &__blur {
            width: 100%;
            height: 100vh;
            backdrop-filter: blur(2px);
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 4;
        }
        &__menu {
            position: fixed;
            top: 70px;
            right: 0;
            height: 100%;
            background-color: #fff;
            z-index: 5;
            box-shadow: -5px 5px 5px -5px rgba(0, 0, 0, 0.6);
            animation: openBurger 0.3s ease;
            display: none;
        }
        &__list {
            width: 100%;
            height: 100%;
            padding: 3rem 3rem;
            flex-direction: column;
            align-items: start;
            font-size: 1.8rem;
        }
    }

    @media (max-width: $media-sm) {
        &__link {
            display: none;
        }
    }
}

@keyframes openBurger {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes rotatePhone {
    0% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(30deg);
    }
}
